* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Outfit', sans-serif;
	height: 100vh;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
hr {
	height: 1px;
	color: hsl(30, 18%, 87%);
}
.hero-img {
	margin-top: 2em;
	width: 100%;
	height: 100%;
	border-radius: 3%;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
}
h1 {
	margin: 1em;
	font-size: 2.2rem;
}
.describe {
	margin: 1em;
	padding: 1em;
	font-size: 1rem;
	color: hsl(30, 10%, 34%);
}
.preparation {
	background-color: hsl(330, 100%, 98%);
	margin: 2em;
	padding: 1em;
	border-radius: 12px;
	&__title {
		color: hsl(332, 51%, 32%);
		font-size: 1.4rem;
		padding: 0.8em;
	}
	&__list {
		font-size: 1.1rem;
		padding: 0em 2em;

		li {
			padding: 0.5em 1em;

			color: hsl(30, 10%, 34%);

			span {
				font-weight: bold;
			}
		}
		li::marker {
			color: hsl(332, 51%, 32%);
		}
	}
}
.brown {
	font-size: 1.8rem;
	color: hsl(14, 45%, 36%);
	margin: 1em;
}

.ingriedients__list {
	margin: 0 1em 1em;
	padding: 1em;

	li {
		margin-left: 1em;
		padding: 0.5em 1em;
		color: hsl(30, 10%, 34%);
	}
	li::marker {
		color: hsl(14, 45%, 36%);
	}
}

.instruction__list {
	margin: 0 1em 1em;
	padding: 1em;
	color: hsl(30, 10%, 34%);
	li {
		margin-left: 1em;
		padding: 0.5em 1em;

		span {
			font-weight: bold;
		}
	}
	li::marker {
		color: hsl(14, 45%, 36%);
	}
}

p {
	margin: 1em;
	padding: 1em 1em;
}
.table {
	margin: 1em;
}
table.customTable {
	width: 100%;
	background-color: #ffffff;
	border-collapse: collapse;
	margin: 1em 0;
}

tr {
	border-bottom: 1px solid hsl(30, 18%, 87%);
}
td {
	padding: 1em 3em;
}
